.nav{
    display: inline-block;
}
nav{
    background-color: rgb(249, 183, 183);
    height: 100px;
}
.items{
    float: right;
    font-size: 10px;
    text-decoration: none;
}
header{
    height: 200px;
    /* background-color: antiquewhite; */
    background-image: linear-gradient(beige, brown);

}
.column{
    float: left;
    height: 200px;
    background-color: beige;
    width: 28.3%;
    padding: 10px;
    margin: 10px;
}
footer{
    background-color: brown;
    height: 100px;
    clear: both;
}
.foot{
    display: inline-block;
}
.right-foot{
    float: right;
    color: white;
}
.items-foot{
    font-size: 10px;
    text-decoration: none;
    color: white;
}
a{
    text-decoration: none;
    padding: 5px;
}